<form #fAutor="ngForm">
  <div class="form-group mt-3 mb-3 ml-5 w-75">
    <label for="formGroupExampleInput">Digite o Nome</label>
    <input
      type="text"
      class="form-control"
      id="nome"
      placeholder="Digite o nome"
      [(ngModel)]="cadastroAutor.nome"
      name="nome"
    />
  </div>
  <div class="form-group mt-3 mb-3 ml-5 w-75">
    <label for="formGroupExampleInput">Digite o <b>ANO</b> de Nascimento</label>
    <input
      type="text"
      class="form-control"
      id="ano_nascimento"
      placeholder="Digite o ano de nascimento"
      [(ngModel)]="cadastroAutor.ano_nascimento"
      name="ano_nascimento"
    />
  </div>
  <div class="form-group mt-3 mb-3 ml-5 w-75">
    <label for="exampleFormControlSelect1">Selecione o sexo</label>
    <select
      class="form-control"
      id="sexo"
      placeholder="Selecione..."
      [(ngModel)]="cadastroAutor.sexo"
      name="sexo"
    >
      <option selected>Masculino</option>
      <option>Feminino</option>
    </select>
  </div>
  <div class="form-group mt-3 mb-3 ml-5 w-75">
    <label for="formGroupExampleInput">Digite a nacionalidade</label>
    <input
      type="text"
      class="form-control"
      id="nacionalidade"
      placeholder="Digite a nacionalidade"
      [(ngModel)]="cadastroAutor.nacionalidade"
      name="nacionalidade"
    />
  </div>
  <button
    type="button"
    class="btn btn-success mt-3 mb-3 ml-5"
    (click)="criarAtualizarautor(fAutor)"
  >
    Adicionar
  </button>
</form>

<table class="table ml-5 w-75">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Nome</th>
      <th scope="col">Ano de Nascimento</th>
      <th scope="col">Sexo</th>
      <th scope="col">Nacionalidade</th>

      <th scope="col">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let a of autor">
      <th scope="row">{{ a.id }}</th>
      <td>{{ a.nome }}</td>
      <td>{{ a.ano_nascimento }}</td>
      <td>{{ a.sexo }}</td>
      <td>{{ a.nacionalidade }}</td>

      <td>
        <button
          type="button"
          class="btn btn-danger mr-3"
          (click)="apagaAutor(a.id)"
        >
          Apagar
        </button>
        <button
          type="button"
          class="btn btn-warning"
          (click)="selecionaAutor(a)"
        >
          Atualizar
        </button>
      </td>
    </tr>
  </tbody>
</table>
